[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A lightweight UUID implementation
[access "refs/*"]
	owner = group user/psycho (Psycho-micheal)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/psycho (Psycho-micheal)
	label-Verified = -1..+1 group user/psycho (Psycho-micheal)
	push = group user/psycho (Psycho-micheal)
	read = group user/psycho (Psycho-micheal)
	rebase = group user/psycho (Psycho-micheal)
	removeReviewer = group user/psycho (Psycho-micheal)
	submit = group user/psycho (Psycho-micheal)
[access "refs/heads/*"]
	create = group user/psycho (Psycho-micheal)
	push = +force group user/psycho (Psycho-micheal)
	pushMerge = group user/psycho (Psycho-micheal)
	read = group user/psycho (Psycho-micheal)
[access "refs/tags/*"]
	push = group user/psycho (Psycho-micheal)
	push = +force group user/psycho (Psycho-micheal)
